---
import Layout from '../layouts/Layout.astro';
import SolidComponent from '../components/solid.tsx';

import Projects from "../components/ProjectsFull.astro";

import { colorVariants } from "../colors.ts"
const colorVariant = [
  "blue",
  "green",
  "yellow",
][ Math.floor(Math.random()*(3)) ]
console.log(colorVariant);
---

<Layout title="Yash Karthik" description="Essays and short stories by Yash Karthik." showBars={false} route="/" colorVariant={colorVariant}>
  <main class="my-7 mx-3 flex flex-col gap-0 flex-grow">

    <section class="
      self-center m-5
      max-w-[80ch] lg:w-7/12 md:w-8/12 sm:w-9/12 w-10/12
    ">
      <p class="text-4xl font-serif-styled">Hi, I'm Yash Karthik.</p> <br/>

      <p>Right now, I'm:</p>
      <ul class="list-disc pl-5">

        <li>
          Building a
          <a target="_blank" href="https://en.wikipedia.org/wiki/Sputter_deposition" class={`
            underline decoration-2
            ${colorVariants[colorVariant].decorationColor}
            underline-offset-2
          `}>lithography tool </a> at

          <a target="_blank" href="https://www.waterloofab.com/" class={`
            underline decoration-2
            ${colorVariants[colorVariant].decorationColor}
            underline-offset-2
          `}>Waterloo Fab</a>.

        </li>

        <li>Learning PCB design and trying to design gadgets for myself.</li>

        <li>
          Studying computer engineering at
          <a target="_blank" href="https://ece.engineering/" class={`
            underline decoration-2
            ${colorVariants[colorVariant].decorationColor}
            underline-offset-2
          `}>Waterloo</a>.
        </li>
      </ul> <br/>

      <p>Before that, I have:</p>
      <ul class="list-disc pl-5">
        <li>Shipped semi-viral web apps built using ai apis.</li>

        <li>
          Written firmware for
          <a target="_blank" href="https://www.uwarg.com/" class={`
            underline decoration-2
            ${colorVariants[colorVariant].decorationColor}
            underline-offset-2
          `}>drones</a>.
        </li>

        <li>Run linux on lego ev3.</li>
      </ul> <br/>

      <p>Some lore:</p>
      <p class="p-5">
        <i>Five years ago I awoke in a strange new world: I learned to code. <br/><br/>
        My friend and I were tasked with cleaning-up the robotics lab after a late night session.
        Rather than spending hours sorting the parts manually, we built a robot to do it for us
        (finishing the task in a few days instead of hours xD).
        
        I knew how transformative technology is. It had been all around us. But actually leveraging
        it myself to automate a mundane task was when I truly <b>grokked</b> the power of technology.
        
        Since then, I've built fast and beautiful web apps; efficient and powerful robots; slow and
        clunky(?) VMs; and learned to embrace the lightness of being a <b>perpetual beginner</b>.</i>
      </p>
    </section>

    <Projects colorVariant={colorVariant}/>

    <section class="
      self-center md:my-12 mx-3
    ">
      <h2 class="text-4xl font-serif-styled mb-6">Places I've Lived</h2>
      
      <div class="grid grid-cols-2 gap-6 max-w-4xl">
        <div class="row-span-2 flex flex-col items-center">
          <img src="/blog-assets/map-india.png" alt="India" class="
            w-full h-auto rounded-sm
            hover:rounded-lg
            grayscale hover:grayscale-0
            transition-all duration-300 ease-in-out
          " />
        </div>
        
        <div class="flex flex-col items-center">
          <img src="/blog-assets/map-waterloo.png" alt="Waterloo" class="
            w-full h-auto rounded-sm
            hover:rounded-lg
            grayscale hover:grayscale-0
            transition-all duration-300 ease-in-out
          " />
        </div>
        
        <div class="flex flex-col items-center">
          <img src="/blog-assets/map-bay.png" alt="Bay Area" class="
            w-full h-auto rounded-sm
            hover:rounded-lg
            grayscale hover:grayscale-0
            transition-all duration-300 ease-in-out
          " />
        </div>
      </div>
    </section>

    <section class="
      self-center m-5 mt-12
      max-w-[80ch] lg:w-7/12 md:w-8/12 sm:w-9/12 w-10/12
    ">
      <img src="/blog-assets/me.jpg" alt="me" class="
        w-1/3 h-1/3 rounded-sm
        hover:rounded-lg
        transition-all duration-300 ease-in-out" />

      </br>
      See ya!

    </section>
  </main>

  <a target="_blank" href="https://socratica.info/" class="self-center">⁂</a>

</Layout>
