---
import Layout from '../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';

import { colors } from "../colors.ts";
const colorVariant = [
  //"red",
  "blue",
  "green",
  "orange",
  "yellow",
][ Math.floor(Math.random()*(4)) ]

type Props = {
  frontmatter: CollectionEntry<"blog">["data"];
  githubSlug: string;
  nextSlug: string;
  prevSlug: string;
  nextTitle: string;
  prevTitle: string;
}

const { 
  frontmatter,
  githubSlug,
  nextSlug, nextTitle,
  prevSlug, prevTitle
} = Astro.props;
---

<Layout {...frontmatter} route="/archive" colorVariant={colorVariant}>

  <header class="
    font-serif
    self-center
    lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none
    max-sm:flex max-sm:flex-col
    border-b border-dotted border-zinc-400 dark:border-zinc-500
    mt-7 pb-2 
  ">
    <div class={`
      flex flex-col gap-1
      items-start text-start
    `}>
      <h1 class="
        md:text-4xl text-3xl
        font-serif-styled tracking-tight
      ">
        {frontmatter.title}
      </h1>

      <p class="
        first-letter:uppercase font-sans
        text-sm text-zinc-500 dark:text-zinc-400
        ">
        {frontmatter.published}
      </p>
    </div>

  </header>

  <main class="
    max-w-none lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 m-5 
    prose md:prose-p:prose-lg
    prose-zinc dark:prose-invert 
    font-serif self-center
    prose-headings:font-heading
    prose-headings:text-zinc-700 dark:prose-headings:text-zinc-300 
    dark:prose-p:text-zinc-300
    dark:prose-a:text-zinc-300
    underline-offset-2 prose-a:decoration-2 prose-a:decoration-dotted
    prose-a:decoration-zinc-400 dark:prose-a:decoration-zinc-500
    prose-blockquote:text-zinc-600 prose-blockquote:dark:text-stone-400
  ">
    <slot />
  </main>

  <div class="font-serif self-center flex flex-col my-7 lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none">
    <hr class="border border-solid border-zinc-400 dark:border-zinc-500 mb-5" />
    <div class="mb-5 flex flex-col gap-2 max-sm:gap-5">
      {prevSlug &&
        <p class="italic self-start">←
          <a href={prevSlug} class="
            underline decoration-solid decoration-2 underline-offset-2
            decoration-zinc-400 dark:decoration-zinc-500
          ">
            {prevTitle}
          </a>
        </p>
      }

      {nextSlug &&
        <p class="italic self-end text-end">
          <a href={nextSlug} class="
          underline decoration-solid decoration-2 underline-offset-2
          decoration-zinc-400 dark:decoration-zinc-500
          ">
            {nextTitle}
          </a>
          →
        </p>
      }
    </div>

    <p class="self-start font-serif">Have a comment or response? <a href="/links"
    class="underline decoration-2 decoration-zinc-400 dark:decoration-zinc-500 hover:decoration-zinc-400 hover:dark:decoration-zinc-500 decoration-dotted underline-offset-2">Email me</a>.</p>
  </div>
</Layout>
