---
import Layout from '../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<"blog">["data"];

const frontmatter = Astro.props;
---

<Layout {...frontmatter}>

  <header class="
  font-serif
  self-center
  lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none
  grid grid-cols-7
  border-solid border-b border-zinc-500 
  ">
    <div class="
      flex flex-col gap-1
      items-end text-end col-span-4
      border-solid border-r pr-5 border-zinc-500 
    ">
      <h1 class="
      md:text-6xl sm:text-4xl text-3xl 
      font-heading
      ">
        {frontmatter.title}
      </h1>

      <p class="mt-1 text-md italic text-zinc-500 dark:text-zinc-400">
        {frontmatter.description}
      </p>

      <div class="text-sm text-zinc-500 dark:text-zinc-400 flex flex-row gap-1 items-end">
        {<p class="first-letter:uppercase">{frontmatter.completionLevel} note</p>}
        {<p>• {frontmatter.started}</p>}
        {frontmatter.updated && <p class="hover">• {frontmatter.updated}</p>}
        {/* add link to commit history of file here. */}
      </div>

      <div class="text-sm flex flex-row gap-1 items-end">
        {frontmatter.topics.map(topic => {
          return <a class="text-violet-700 dark:text-violet-400" href={"/topics/" + topic}>{topic[0].toUpperCase() + topic.slice(1,)}</a>
        })}
      </div>
    </div>

    <div class="
    pl-5
    ">
    </div>
  </header>

  <main class="
  max-w-none lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none m-5 
  prose md:prose-p:prose-lg
  prose-zinc dark:prose-invert 
  font-serif self-center
  prose-headings:font-serif-styled
  prose-headings:text-zinc-700 dark:prose-headings:text-zinc-300 
  dark:prose-p:text-zinc-300
  dark:prose-a:text-zinc-300
  underline-offset-2 prose-a:decoration-2 
  prose-a:decoration-violet-700 dark:prose-a:decoration-violet-400 
  ">
    <slot />
  </main>

  <div class="self-center flex flex-col my-7 lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none">
    <hr class="border border-solid border-zinc-400 dark:border-zinc-500 mb-5" />
    <p class="self-start font-serif">Have a comment or response? <a href="/links"
    class="underline decoration-solid decoration-2 decoration-violet-700 dark:decoration-violet-400 underline-offset-2">Email me</a>.</p>
  </div>
</Layout>
