---
import Layout from '../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';

type Props = CollectionEntry<"blog">["data"];

const frontmatter = Astro.props;
---

<Layout {...frontmatter}>

  <header class="font-serif px-1 self-center m-3 lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none">
    <p class="font-mono text-zinc-500 dark:text-zinc-400 text-sm my-2">
      {frontmatter.started}
    </p>
    <h1 class="md:text-5xl sm:text-4xl text-3xl font-black my-3">
      {frontmatter.title}
    </h1>
    <p class="text-md italic text-zinc-500 dark:text-zinc-400 border-solid border-b border-zince-500 my-2 pb-2">
      {frontmatter.description}
    </p>
    <div class="font-sans text-sm flex flex-row justify-between">
      <div class="flex flex-row gap-2">
        {frontmatter.topics.map(topic => {
          return <a class="text-violet-700 dark:text-violet-400" href={"/topics/" + topic}>{topic[0].toUpperCase() + topic.slice(1,)}</a>
        })}
      </div>
      <div class="text-zinc-500 dark:text-zinc-400">
        <p class="first-letter:uppercase">{frontmatter.completionLevel} note</p>
        {frontmatter.updated && <p>Last updated: {frontmatter.updated}</p>}
      </div>
    </div>
  </header>

  <main class="prose md:prose-xl prose-zinc dark:prose-invert max-w-none
  prose-a:decoration-violet-700 dark:prose-a:decoration-violet-400 underline-offset-2
  prose-a:decoration-2 prose-headings:text-zinc-700
  dark:prose-headings:text-zinc-300 font-serif self-center
  m-5 dark:prose-p:text-zinc-300 dark:prose-a:text-zinc-300
  lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none
  "
  >
    <slot />
  </main>

  <div class="self-center flex flex-col my-7 lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none">
    <hr class="border border-solid border-zinc-400 dark:border-zinc-500 mb-5" />
    <p class="self-start font-serif">Have a comment or response? <a href="/links"
    class="underline decoration-solid decoration-2 decoration-violet-700 dark:decoration-violet-400 underline-offset-2">Email me</a>.</p>
  </div>
</Layout>
