---
import Layout from '../layouts/Layout.astro';
import type { CollectionEntry } from 'astro:content';
import { intersection } from 'astro/zod';

type Props = {
  frontmatter: CollectionEntry<"blog">["data"];
  nextSlug: string;
  prevSlug: string;
  nextTitle: string;
  prevTitle: string;
}

const { 
  frontmatter,
  nextSlug, nextTitle,
  prevSlug, prevTitle
} = Astro.props;
---

<Layout {...frontmatter}>

  <header class="
  font-serif
  self-center
  lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none
  grid grid-cols-7
  border-b border-dotted border-zinc-400 dark:border-zinc-500
  mt-7 pb-2 
  ">
    <div class=`
      flex flex-col gap-1
      items-end text-end 
      pr-5
      border-r border-dotted border-zinc-400 dark:border-zinc-500
      ${frontmatter.title.length > 25 ? 'col-span-4' : 'col-span-3'}
    `>
      <h1 class="
      md:text-7xl sm:text-4xl text-3xl 
      font-heading tracking-tight
      ">
        {frontmatter.title}
      </h1>

      <p class="mt-1 text-md italic text-zinc-500 dark:text-zinc-400">
        {frontmatter.description}
      </p>

      <div class="text-sm text-zinc-500 dark:text-zinc-400 flex flex-row gap-1 items-end">
        {<p class="first-letter:uppercase">{frontmatter.completionLevel} note</p>}
        {<p>• {frontmatter.published}</p>}
        {frontmatter.updated && <p class="hover">• {frontmatter.updated}</p>}
        {/* add link to commit history of file here. */}
      </div>

      <div class="text-sm flex flex-row gap-1 items-end">
        {frontmatter.topics.map((topic, index) => {
          const end = index + 1 == frontmatter.topics.length ? "" : ",";
          return <a class="text-violet-700 dark:text-violet-400" href={"/archive#" + topic}>
            {topic[0].toUpperCase() + topic.slice(1,) + end}
          </a>
        })}
      </div>
    </div>

    <div class=`
    pl-5 mt-2 text-start
    italic
    col-end-8
    ${frontmatter.title.length > 25 ? 'col-start-5' : 'col-start-4'}
    `>
      LoremEt ut sed tempora est doloremque temporibus. Quae non aut aut eos quo rem. Quia officia et ipsa distinctio vitae qui sed. Dolorem voluptas sed debitis est ad quasi iure. Omnis et nulla amet dolores saepe voluptas ea. Enim repudiandae ipsa sint quam ullam tempora voluptatibus tenetur.
    </div>
  </header>

  <main class="
  max-w-none lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 m-5 
  prose md:prose-p:prose-lg
  prose-zinc dark:prose-invert 
  font-serif self-center
  prose-headings:font-serif-styled
  prose-headings:text-zinc-700 dark:prose-headings:text-zinc-300 
  dark:prose-p:text-zinc-300
  dark:prose-a:text-zinc-300
  underline-offset-2 prose-a:decoration-2 
  prose-a:decoration-violet-700 dark:prose-a:decoration-violet-400 
  ">
    <slot />
  </main>

  <div class="font-serif self-center flex flex-col my-7 lg:w-6/12 md:w-8/12 sm:w-9/12 w-10/12 max-w-none">
    <hr class="border border-solid border-zinc-400 dark:border-zinc-500 mb-5" />
    <div class="mb-5 flex flex-col">
      {prevSlug &&
        <p class="italic self-start">←
          <a href={prevSlug} class="
          underline decoration-solid decoration-2 underline-offset-2
          decoration-violet-700 dark:decoration-violet-400
          ">
            {prevTitle}
          </a>
        </p>
      }

      {nextSlug &&
        <p class="italic self-end">
          <a href={nextSlug} class="
          underline decoration-solid decoration-2 underline-offset-2
          decoration-violet-700 dark:decoration-violet-400
          ">
            {nextTitle}
          </a>
          →
        </p>
      }
    </div>

    <p class="self-start font-serif">Have a comment or response? <a href="/links"
    class="underline decoration-solid decoration-2 decoration-violet-700 dark:decoration-violet-400 underline-offset-2">Email me</a>.</p>
  </div>
</Layout>
